* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*  BORDES DE TODO */
  /*     outline: 2px solid lime;   */
  /* #### FONDO SATURADO #### */
  /* background: hsl(0, 100%, 50% / .1); */
  /*  background: hsl(0, 100%, calc(50% / 10)); */
  /**/
  /* background: rgba(255, 0, 0, 0.1); // Rojo con 10% de opacidad */
  /* background: hsl(0, 100%, 5%);  // 50% / 10 = 5% */
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

ul, ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

p a {
  display: inline;
}

img, video, iframe, picture, figure {
  display: block;
  max-width: 100%;
}

form, input, select, textarea, button, label {
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: none;
}

@font-face {
  font-family: "karla";
  src: url("../fonts/Karla-VariableFont_wght.woff2");
  font-weight: 200 900;
}
.access__hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body {
  background-color: #e0f1e8;
  display: grid;
  justify-items: center;
  align-items: center;
  color: #2a4144;
  padding-block: 2rem;
}

.wrappers__main {
  width: min(21.438rem, 100%);
  display: grid;
  gap: 2rem;
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0.5px 0.5px 5px 0.6px rgba(0, 0, 0, 0.3);
  position: relative;
}

.title__text {
  font-family: karla;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  color: #2a4144;
}

.wrappers__form {
  display: grid;
  gap: 2.5rem;
}

.wrappers__field {
  border: none;
  display: grid;
  /* gap: $space-200; */
}

.message__title,
.querys__header,
.mail__title,
.name__title {
  font-family: karla;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

.requireds {
  color: #0c7d69;
}

.name__input,
.mail__name {
  width: 100%;
  outline: 1px solid #86a2a5;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  margin-top: 0.5rem;
}
.name__input:hover, .name__input:focus,
.mail__name:hover,
.mail__name:focus {
  outline: 2px solid #0c7d69;
  box-shadow: 0.5px 1px 3px rgba(134, 162, 165, 0.8), -0.5px -1px 3px rgba(134, 162, 165, 0.8);
  cursor: pointer;
}

.wrappers__querys {
  display: grid;
  gap: 1rem;
}

.querys__types {
  display: grid;
  gap: 1rem;
}

.querys__inputs {
  /* display: none; */
  position: absolute;
  opacity: 1;
  width: 5px;
  height: 5px;
}

.types__items {
  outline: 1px solid #86a2a5;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
}
.types__items:hover, .types__items:focus {
  outline: 2px solid #0c7d69;
  box-shadow: 1px 1px 3px 1px rgba(42, 65, 68, 0.8), -1px -1px 3px rgba(42, 65, 68, 0.8);
  cursor: pointer;
}

.types__items--checked {
  background-color: #e0f1e8;
  outline: 2px solid #0c7d69;
}

.querys__title {
  font-family: karla;
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.querys__icons {
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  outline: 1px solid #86a2a5;
  border-radius: 70%;
  box-shadow: 0.5px 1px 3px rgba(134, 162, 165, 0.8) inset, -0.5px -1px 3px rgba(134, 162, 165, 0.8) inset;
  transition: background-image 0.7s ease-in-out;
}

.querys__inputs:checked + .querys__icons::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  position: absolute;
  top: -1.3px;
  left: -0.6px;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../images/icon-radio-selected.svg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 70%;
  box-shadow: 0.3px 0.3px 2px rgba(42, 65, 68, 0.7), -0.5px -0.5px 1px rgba(42, 65, 68, 0.7);
  transition: all 1s ease-in-out;
}

.wrappers__message {
  display: grid;
  gap: 0.5rem;
}

.message__text {
  outline: 1px solid #86a2a5;
  border-radius: 0.5rem;
}
.message__text:hover, .message__text:focus {
  outline: 2px solid #0c7d69;
  box-shadow: 1px 1px 3px 1px rgba(42, 65, 68, 0.8), -1px -1px 3px rgba(42, 65, 68, 0.8);
  cursor: pointer;
}

.consent__check {
  display: none;
}

.wrappers__consent {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1px;
}

.consent__title {
  width: 100%;
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  align-items: center;
  gap: 1rem;
  font-family: karla;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.consent__icon {
  width: 1.5rem;
  height: 1.5rem;
  outline: 1px solid #86a2a5;
  box-shadow: 1px 1px 2px rgba(134, 162, 165, 0.8) inset, -1px -1px 2px rgba(134, 162, 165, 0.8) inset;
  border-radius: 3px;
  cursor: pointer;
  transition: background-image 0.7s ease-in-out;
  position: relative;
}

.consent__check:checked + .consent__title .consent__icon::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("../images/icon-checkbox-check.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.button__submit {
  width: 100%;
  color: #ffffff;
  font-family: karla;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: capitalize;
  background-color: #0c7d69;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px 1px rgba(42, 65, 68, 0.5), -1px -1px 5px rgba(42, 65, 68, 0.5);
  padding-block: 1rem;
}
.button__submit:hover, .button__submit:focus {
  background-color: #2a4144;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4) inset, -1px -1px 2px rgba(255, 255, 255, 0.4) inset;
  cursor: pointer;
}

.inputs__error {
  outline: 2px solid #d73c3c;
  box-shadow: 1px 1px 3px 1px rgba(49, 3, 1, 0.8), -1px -1px 3px rgba(49, 3, 1, 0.8);
}

.message__success {
  width: min(20.438rem, 100%);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #2a4144;
  border-radius: 1rem;
  color: #ffffff;
  padding: 1.5rem;
}

.message__head {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
}

.head__text {
  font-family: karla;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 2;
}

.message__subtitle {
  font-family: karla;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0;
}

.field__error {
  opacity: 1;
  font-family: karla;
  font-size: 1rem;
  font-weight: 400;
  color: #d73c3c;
  line-height: 1.8;
}

.display__none {
  display: none;
}

@media (min-width: 45em) {
  .wrappers__main {
    width: min(43.125rem, 100%);
    padding: 2.5rem;
  }
  .wrappers__field {
    gap: 1.5rem;
  }
  .wrappers__names {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .querys__types {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 81em) {
  .wrappers__main {
    width: min(46rem, 100%);
  }
}

/*# sourceMappingURL=style.css.map */
